.section {
    padding: 160px 0;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 240px;
    padding-right: 24px;

    a {
        font-size: 36px;
        font-weight: 300;
    }
}

.title {
    font-size: 96px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .sectionHeader {
        margin-bottom: 96px;
        padding-right: 0;

        a {
            font-size: 24px;
        }
    }

    .title {
        font-size: 56px;
    }
}