.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 8px;
}

.hiddenRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.button {
  display: inline-block;
  padding: 8px;
  background-color: var(--color-white);
  color: #ccc;
  border: 1px solid #ccc;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.hiddenRadio:checked + .button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}